<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.compassbook.snorechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_farmchat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login"
            android:parentActivityName=".Main" />
        <activity
            android:name=".About"
            android:label="About Us" />
        <activity
            android:name=".Register"
            android:label="Register"
            android:parentActivityName=".Main" />
        <activity
            android:name=".UserMenu"
            android:label="Inbox" />
        <activity
            android:name=".UserSettings"
            android:label="Settings"
            android:parentActivityName=".UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat"
            android:parentActivityName=".UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserList"
            android:label="Users"
            android:parentActivityName=".UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrivateChat"
            android:label="Chat"
            android:parentActivityName=".UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserDetails"
            android:label="Details"
            android:parentActivityName=".UserList" />
        <activity
            android:name=".FriendList"
            android:label="Friends"
            android:parentActivityName=".UserMenu" />
        <activity
            android:name=".HowTo"
            android:label="How To"
            android:parentActivityName=".UserMenu"
            />
    </application>

</manifest>
