<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.compassbook.snorechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_farmchat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" android:parentActivityName=".Main" android:label="Login"/>
        <activity android:name=".About" android:label="About Us"/>
        <activity android:name=".Register" android:parentActivityName=".Main" android:label="Register"/>
        <activity android:name=".UserMenu" android:label="Inbox"/>
        <activity android:name=".UserSettings" android:parentActivityName=".UserMenu" android:windowSoftInputMode="adjustPan" android:label="Settings"/>
        <activity android:name=".ChatActivity" android:parentActivityName=".UserMenu" android:windowSoftInputMode="adjustPan" android:label="Chat" />
        <activity android:name=".UserList" android:parentActivityName=".UserMenu" android:windowSoftInputMode="adjustPan" android:label="Users"/>
        <activity android:name=".PrivateChat" android:windowSoftInputMode="adjustPan" android:parentActivityName=".UserMenu" android:label="Chat"/>
        <activity android:name=".UserDetails" android:parentActivityName=".UserList" android:label="Details"/>
        <activity android:name=".FriendList" android:label="Friends" android:parentActivityName=".UserMenu"/>
    </application>

</manifest>
