<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.compassbook.snorechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_farmchat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.login.Login"
            android:label="Login"
            android:parentActivityName=".Main" />
        <activity
            android:name=".aboutUs.About"
            android:label="About Us" />
        <activity
            android:name=".user.register.Register"
            android:label="Register"
            android:parentActivityName=".Main" />
        <activity
            android:name=".user.menu.UserMenu"
            android:label="Inbox" />
        <activity
            android:name=".user.settings.UserSettings"
            android:label="Settings"
            android:parentActivityName=".user.menu.UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.groupChat.ChatActivity"
            android:label="Chat"
            android:parentActivityName=".user.menu.UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.search.UserList"
            android:label="Users"
            android:parentActivityName=".user.menu.UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.privateChat.PrivateChat"
            android:label="Chat"
            android:parentActivityName=".user.menu.UserMenu"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.search.UserDetails"
            android:label="Details"
            android:parentActivityName=".user.search.UserList" />
        <activity
            android:name=".friendsList.FriendList"
            android:label="Friends"
            android:parentActivityName=".user.menu.UserMenu" />
        <activity
            android:name=".howTo.HowTo"
            android:label="How To"
            android:parentActivityName=".user.menu.UserMenu"
            />
    </application>

</manifest>
